.inscriction{
    margin: 2%;
    position: relative;

}
.inscriction-btn{
    width:  100%;
    height: 100px;
    background-color: #1c3f85;
    -webkit-box-shadow: -4px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -4px -1px 5px 0px rgba(0,0,0,0.75);
    outline: none;
    border:none;
    color: antiquewhite;
    border-radius: 20px;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.validacion-btn{
    width:  100%;
    background-color: #1c3f85;
    -webkit-box-shadow: -4px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -4px -1px 5px 0px rgba(0,0,0,0.75);
    outline: none;
    border:none;
    color: antiquewhite;
    border-radius: 10px;
    animation-name: fadeIn;
    animation-duration: 1s;

}

#inscriction-btn:hover{
    background-color: #3864bd;


}
.lateral{
    position: fixed;
    top: 20%;
    left: 10%;
    width: 250px;

}
.terminos{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: justify

}
.titulo{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: fadeIn;
    animation-duration: 1s;
}
.imgCandidate{
    animation-name: zoomIn;
    animation-duration: 0.5s;

}

.hrCandidate{
    border: 10px solid #1c3f85;
    border-radius: 5px;
}