
  
.navbar{

  margin-bottom: 65px;
  background: -moz-linear-gradient(270deg, rgba(34,46,64,1) 0%, rgba(81, 92, 195, 0) 100%)  !important;;
  background: -webkit-linear-gradient(270deg, rgba(34,46,64,1) 0%, rgba(81, 111, 195, 0.062) 100%)  !important;;
  border: none;
}

 .navbar a{
    color: rgb(214, 221, 230) !important;
    font-size: 10pt;
    text-decoration: none;

 }
 .navbar #admin{
  color: rgb(105, 154, 218) !important;
  font-size: 10pt;
  text-decoration: none;

}

 .modal{
    font-family: "Consolas", monospace;
     font-size: 13pt;
     background: -moz-linear-gradient(270deg, rgba(34,46,64,1) 0%, rgba(81, 92, 195, 0) 100%);
     background: -webkit-linear-gradient(270deg, rgba(34,46,64,1) 0%, rgba(81, 111, 195, 0.062) 100%);
     border: none;
      opacity: 9;

 }
  
   .modal-header .close{
     margin-top:2px;
    
    
    }
 #btn_close{
  margin: 20px;;
  float: right;
 }

    .modal-title{
      color:aliceblue;
    }

    .modal-footer{
      background: -moz-linear-gradient(270deg, rgba(34,46,64,1) 0%, rgb(81, 92, 195) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(34,46,64,1)), color-stop(100%, rgba(81,195,184,1)));
      background: -webkit-linear-gradient(270deg, rgba(34,46,64,1) 0%, rgb(81, 111, 195) 100%);
      background: linear-gradient(180deg, rgba(34,46,64,1) 0%, rgb(81, 130, 195) 100%);
    }

    .modal-body{
      background: -moz-linear-gradient(270deg, rgba(34,46,64,1) 0%, rgb(81, 92, 195) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(34,46,64,1)), color-stop(100%, rgba(81,195,184,1)));
      background: -webkit-linear-gradient(270deg, rgba(34,46,64,1) 0%, rgb(81, 111, 195) 100%);
      background: linear-gradient(180deg, rgba(34,46,64,1) 0%, rgb(81, 130, 195) 100%);
      border: none;
  
    }
  
  
   .modal-backdrop
  {
      opacity:0.57 !important;
  }
  
  .modal .btn-secondary{
    width: 50%;
    margin-left: 90px;
  
  }
  .form-control{
    width: 105%;
    
  }
  .form-signin{
    min-height: 1px;
      padding: 0px;
      margin: 0px 0;
      margin-left: 0px auto;
      margin-right: 0px auto;
      margin-top: 0px auto;
      margin-bottom: 0px auto;
  
  }

  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
      color: black;
      font-weight: 900;
      font-family:  Arial, Helvetica, sans-serif;

    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  } 

  
.carousel .btn{
  background: -webkit-linear-gradient(270deg, rgba(43, 53, 109) 0%, rgb(81, 111, 195) 100%);
  background: -moz-linear-gradient(270deg, rgb(102, 116, 196) 0%, rgba(81, 92, 195, 0.986) 100%);
  color:rgb(200, 207, 214);
  border-radius: 20px;
  padding: 20px;
  width: 250px;
  border: none;
  font-family: "Consolas", monospace;
  font-size: 23pt;

}


.carousel-caption{

  /* background: -moz-linear-gradient(90deg, rgb(62, 104, 181) 0%, rgb(81, 130, 195) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(111, 161, 226)), color-stop(100%, rgb(84, 62, 181)));
  background: -webkit-linear-gradient(90deg, rgb(62, 104, 181) 0%, rgb(81, 130, 195) 100%);
  background: linear-gradient(0deg, rgb(62, 110, 181) 0%, rgb(81, 130, 195) 100%);  border-radius: 10px 0 0 10px; */
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  color: #030303;
  font-family: "Consolas", monospace;
  font-size: 23pt;
  margin-bottom: 100px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);


}

#one {
  background-image: url("http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/dots.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

#two {
  background-image: url("http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/gears.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}




.carousel-item{
  height: 630px;
  overflow: auto;
  background: -moz-linear-gradient(270deg, rgba(34,46,64,1) 0%, rgba(81, 92, 195, 0.26) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(34,46,64,1)), color-stop(100%, rgba(81,195,184,1)));
  background: -webkit-linear-gradient(270deg, rgba(34,46,64,1) 0%, rgb(81, 111, 195) 100%);
  background: linear-gradient(180deg, rgba(34,46,64,1) 0%, rgb(81, 130, 195) 100%);
  
}







