@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar{

    background: -moz-linear-gradient(270deg, rgb(21, 92, 199) 0%, rgba(21, 33, 143, 0.26) 100%);
    background: -webkit-linear-gradient(270deg, rgb(14, 46, 95) 0%, rgba(16, 18, 26, 0.781) 100%);
    border: none;
    color: beige;
  }

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
/* 
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: linear-gradient(180deg, rgb(105, 142, 221) 0%, rgb(64, 56, 170) 100%);
      color: rgb(126, 21, 21);
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#p:hover{
    background: #3419af48 !important;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: linear-gradient(180deg, rgb(105, 142, 221) 0%, rgba(88, 81, 194, 0.527) 100%);
}

#sidebar ul.components {
    padding: 20px 0;
    background: -moz-linear-gradient(270deg, rgb(105, 117, 221) 0%, rgb(38, 48, 190) 100%);
    background: -webkit-linear-gradient(270deg, rgb(107, 105, 221) 0%, rgb(78, 89, 193) 100%);
    background: linear-gradient(180deg, rgb(105, 142, 221) 0%, rgb(8, 5, 56) 100%);}


#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover{
    color: #fff;
    background: #70a0cc9c;
    text-decoration: none;   

}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: -moz-linear-gradient(270deg, rgb(105, 117, 221) 0%, rgb(38, 48, 190) 100%);

}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: -moz-linear-gradient(270deg, rgb(105, 117, 221) 0%, rgb(38, 48, 190) 100%);
    color: #fff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}



a.download, a.download:hover {
    background: #e5e4eb;
    color: rgb(2, 22, 199);
}
 */


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


/* 
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #a712120c;
    cursor: pointer;
}


#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
} */

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/* @media (max-width: 768px) { */
    /* #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

.card{
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
 
}

.card .card-header{
    background: -moz-linear-gradient(270deg, rgb(2, 22, 199) 0%, rgb(86, 94, 206) 100%);
    background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.349) 0%, rgba(89, 78, 193, 0.336) 100%);
    border: none;
    border-radius: 3;
} */

/* ESTILO DE FUNCIONES DE REGISTRO */

#register{
    -webkit-box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.75);
    /* border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000; */
    margin-top: 75px;
}

#register h2{

    font-family: "Consolas", monospace;
    font-size: 10px;
    text-align: center;

}

#behind{
    margin: 20px;;
    float: right;
}

/* diseño pagina de control  */

#control{
    text-align: center;
    font-family: "Consolas", monospace;
    font-size: 15pt;
    margin-top: 75px;

}

#control .card{
    margin: 20px;

}

#edit_user{
    -webkit-box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.75);
    /* border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000; */
    padding: 2%;
    margin-top: 75px;

}

.card-title{
    text-align: center;
    font-family: "Consolas", monospace;
    font-size: 20pt;
}

.inscription{
    margin-top: 100px;
}

.imgCandidate{
    display:block;
    margin:auto;
}



 

